.title {
    text-align: center;
    font-size: 50px;
    margin-top: 1%;
}

.baseline {
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 12%;
    margin-top: 1%;
    font-size: 18px;
}

.subTitle {
    text-align: center;
    font-size: 25px; 
    margin-bottom: 22%;
}


.footer {
    background-color: grey;
    color: black;
    display: flex; 
    justify-content: space-between;
    flex-direction: row;
  }
  